body, html{
    height: 100%;
}


body {
    background-image: url("background.jpg");
    height: 100%;
    text-align: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 80;
}

.navbar {
    background-color:rgba(255,255,255,0.25)!important;
    text-align: center;    
    z-index: 100;
    border: none;
    padding-bottom: 10px;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar li {
    font-family: 'Roboto', sans-serif;
    padding-right: 10px;
    padding-left: 10px;
    letter-spacing: 1px;
}

/*.jumbotron {
    background-image: url("https://static.pexels.com/photos/414459/pexels-photo-414459.jpeg");
    -webkit-filter: opacity(60%);
    height: 100%;
    text-align: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}*/

.main{
    -webkit-filter: opacity(70%);

}
.main h2{
    text-align: left;
    font-family: 'Roboto', sans-serif;
}

.main h1 {
    -webkit-filter: opacity(100%);
    margin-top: 110px;
    margin-bottom: 260px;
    margin-right: 100px;
    margin-left: 100px;
    text-align: center;
    font-size: 40px;
    letter-spacing: 6px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    border: 2px solid gray;
    padding: 25px;

}

.main p {
    -webkit-filter: opacity(100%);
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    font-size: 15px;
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
}

.main .container {
    -webkit-filter: opacity(100%) !important;
    padding-top: 10px;
    width: 500px;
    height: 600px;
    background-color: white;
}

.container h2{
    border-bottom: 1px solid gray;
    width: 27%;
}


#arrow {
    padding-top: 70px;
    padding-bottom: 80px;
    font-size: 50px;
    color: #545454;
}

#zero{
    height: 200px;
    text-align: center;
}

.container img{
    height:110px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}