.navbar {
    background-color:rgba(255,255,255,0.55)!important;
    text-align: center;    
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar li {
    font-family: 'Open Sans', sans-serif;
    padding-right: 10px;
    padding-left: 10px;
}

.jumbotron {
    background-image: url("https://static.pexels.com/photos/414459/pexels-photo-414459.jpeg");
    -webkit-filter: opacity(60%);
    height: 100%;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron h1{
    padding-top: 110px;
    padding-bottom: 15px;
    text-align: center;
    font-size: 40px;
    letter-spacing: 6px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
}

.jumbotron p {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    font-size: 15px;
    letter-spacing: 1px;
    font-family: 'Source Sans Pro', sans-serif;
}

.jumbotron .container{
    padding-top: 10px;
    width: 500px;
    height: 200px;
    background-color: white;
    -webkit-filter: opacity(60%);
}

#arrow{
    padding-top: 30px;
    font-size: 50px;
    color: #545454;
}

.container{
    text-align: center;
    letter-spacing: 1px;
}

.container img{
    height:110px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/*.container a:link, a:visited{
    font-size: 10px;
    font-style: sans-serif;
    color: #545454;
}

.container a:hover{
    font-size: 10px;
    font-style: sans-serif;
    color: #000000;
    text-decoration: none;
}*/


footer .container{
    text-align: center;
    color: #858585;
    font-size: 18px;
    letter-spacing: 25px;
    padding-top: 40px;
}