body, html{
    height: 100%;
}


body {
    background-image: url("https://static.pexels.com/photos/414459/pexels-photo-414459.jpeg");
    -webkit-filter: opacity(50%);
    height: 100%;
    text-align: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    background-color:rgba(255,255,255,0.55)!important;
    text-align: center;    
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar li {
    font-family: 'Roboto', sans-serif;
    padding-right: 10px;
    padding-left: 10px;
    letter-spacing: 1px;
}

/*.jumbotron {
    background-image: url("https://static.pexels.com/photos/414459/pexels-photo-414459.jpeg");
    -webkit-filter: opacity(60%);
    height: 100%;
    text-align: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}*/

.jumbotron h1 {
    -webkit-filter: opacity(100%);
    padding-top: 110px;
    padding-bottom: 15px;
    text-align: center;
    font-size: 40px;
    letter-spacing: 6px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.jumbotron p {
     -webkit-filter: opacity(100%);
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    font-size: 15px;
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
}

.jumbotron .container {
     -webkit-filter: opacity(100%);
    padding-top: 10px;
    width: 500px;
    height: 600px;
    background-color: white;
}

#arrow {
    padding-top: 30px;
    font-size: 50px;
    color: #545454;
}

#zero{
    height: 200px;
    text-align: center;
}

.container img{
    height:110px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}