.jumbotron {
	background-image: url('../images/mountains.jpg');
	min-height: 650px;
	background-size: cover;
	border-radius: 0px;
}

.bio-photo {
	max-height: 150px;
}

.bio-text {
	font-family: 'Roboto', sans-serif;
	color: white;
}